@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    /*(over-flow)ignores content that goes beyond*/
}

header {
    height: 100px;
    background-color: #000;
    color: aliceblue;
}

/*positioning content in header*/
.header_inside {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo_img img {
    width: 80px;
    height: 80px;
    background-color: #b28756;

}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;

}

.menu ul {
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    height: 100px;
    /*remove the edge slip menu*/
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

/*main page*/
.banner {
    /*100vh adapt height size to screen in calc - header(height) 
    background-size: cover;(adjust image)
    background-position: bottom; (adjust priority line bottom)*/
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

/*from (width: 1000vw) 10-sliders-support*/
.sliders_banner {
    width: 1000vw;
    height: 100%;
}

/*slide aling (display: inline-block)*/
.slide_banner {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}

.slide_area_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.slide_area_banner h1 {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.slide_area_banner h1 span {
    color: #b28756;
}

.slide_area_banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

/*button*/
.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 15px;
    color: #fff;
    background-color: #b28756;
    padding: 10px 30px;
    margin-top: 30px;
}

/*position: absolute - pointer view*/
.banner_sliders_pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
}

/*slide navigator*/
.banner_pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .active {
    background-color: #b28756;
}

/*section default */
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desck {
    text-align: center;
    font-weight: 600;
}

.default .section-title {
    text-transform: uppercase;
    font-size: 20px;

}

.default .section-desck {
    font-size: 16px;
    color: #ccc;
    margin-top: 13px;
    margin-bottom: 39px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

/* light pattern*/
.default .light {
    background-color: #f7f7f7;
}

.default .light .section-title,
.default.light .section-body {
    color: #000;

}

/* dark pattern*/
.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}


/*

CSS 
Specific Areas


*/
/*about us*/
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 7px 10px #333;
}

/*sevices*/

.section-sevices {
    display: flex;
}

.section-sevice {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-sevice:first-child {
    border-left: 1px solid #333;
    padding: 15px;
}

.section-sevice h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-sevice p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}


/*projects*/
.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    padding: 0px 20px;

}

.section-projects--filters li,
.section-projects--filters ul {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;
}

.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    /*herdar */
    height: inherit;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;

}

.section-projects--photoinfo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;


}

.section-projects--photoinfo h5 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

/* team slides photos*/

.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

/*slides config*/
.section-body--team {
    color: #000;
}

.section-team {
    display: flex;
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team_sliders_banner {
    display: flex;
    width: 1000vw;
    height: 100%;
    min-width: 250px;
    min-height: 300px;
}

/*slide aling (display: inline-block)*/
.section-team_slider_banner {
    width: 30vw;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-team_slider_area_banner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*pointer slides*/
.section-team_banner_sliders_pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20px;
    margin-top: 15px;
}

/*slide navigator*/
.section-team_banner_pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team_banner .active {
    background-color: #b28756;
}

/*avatar config*/


.saction-team--avatar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 150px;
    height: auto;
}

.section-team--name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    text-align: center;
    font-size: 14px;
    color: #999;
}

.section-team--social {
    display: flex;
    justify-content: center;
}

.section-team--social a {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #ccc;
}

.section-team--social a:hover {
    /*hover*/
    background-color: #b28756;
}